Makefile.in
.libs
.deps
config.*
*.la
*.lo
*.o
*.a
*.so
*.pc
aclocal.m4
configure
Makefile
missing
libtool
autom4te.cache
install-sh
ltmain.sh
depcomp
test
rainhdf-*.tar.gz
unittest
stamp-h1
*.m4
!m4_ax*.m4
!ax*.m4
